
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div> 
      @ViewBag.Greeting World (from the Index.cshtml View)
        <p>We're going to have an exciting party.<br />
        (To do:sell it better. Add pictures or soemthing.)
        </p>
        @Html.ActionLink("RSVP NOW","RsvpForm")
    </div>
</body>
</html>
